@import 'mixins';

.mainLayout {
	overflow: hidden;
	// scroll-snap-type: y mandatory;
	// overflow-y: scroll;
	// max-height: 100vh;
	.content {
		display: flex;
		flex-direction: column;
	}

	@include mq(991) {
	}
	@include mq(768) {
	}
	@include mq(575) {
	}
}
// .mainLayout::-webkit-scrollbar {
// 	width: 0;
// }
