@import 'mixins';
.contacts {
	height: 100vh;
	@include sectionOptions();
	.container {
		display: grid;
		position: relative;
		grid-template-columns: repeat(24, 1fr);
		grid-template-rows: repeat(24, 1fr);
		column-gap: var(--gridColGap);
		row-gap: var(--gridRowGap);
		height: 100%;
		width: 100%;
		font-size: var(--fsSubMenu);
		font-family: var(--fontM2);
		justify-content: center;
		align-items: center;
		color: var(--colorWg);
		.sectionHeaderH2 {
			grid-column: 1/10;
			grid-row: 1/25;
		}
		.messenger {
			display: flex;
			position: relative;
			height: 100%;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			.imageContainer {
				position: absolute;
				height: 100%;
				width: 100%;
				overflow: hidden;
				z-index: -1;
				.image {
					position: relative;
					height: 100%;
					width: 100%;
					user-select: none;
					align-items: center;
					justify-content: center;
				}
			}
		}
		.messenger.telegtam {
			// grid-column: 13/17;
			grid-column: 16/20;
			grid-row: 9/17;
		}
		.messenger.whatsapp {
			grid-column: 19/23;
			grid-row: 9/17;
		}
	}
}
@include mq(475) {
	.contacts{
		.container{
			.sectionHeaderH2{
				grid-column: 1/7;
				div p {
					font-size: var(--fsH2desc475);
				}
				div h2 {
					font-size: var(--fsH2475);
				}
			}
			.messenger{
				font-size: 2vw;
			}
		}
	}
}
@include mq(320) {
	.contacts{
		.container{
			.sectionHeaderH2{
				grid-column: 1/8;
				div p {
					font-size: var(--fsH2desc320);
				}
				div h2 {
					font-size: var(--fsH2320);
				}
			}
			.messenger{
				font-size: 2vw;
			}
		}
	}
}